In [1]:
import pandas as pd

In [3]:
path = '/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv'
df = pd.read_csv(path)
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [8]:
df.groupby('Author').min() # Cuenta de cantidad de registros por autor

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for Stone,4.6,4866,11,2010,Fiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Leonardo da Vinci,4.5,3014,20,2011,Non Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",4.4,7497,6,2012,Non Fiction
William P. Young,The Shack: Where Tragedy Confronts Eternity,4.6,19720,8,2009,Fiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons),4.8,16990,27,2017,Fiction
Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,4.6,37,6,2009,Non Fiction

In [10]:
df.groupby('Author').mean()

                            User Rating       Reviews      Price         Year
Author
Abraham Verghese               4.600000   4866.000000  11.000000  2010.500000
Adam Gasiewski                 4.400000   3113.000000   6.000000  2017.000000
Adam Mansbach                  4.800000   9568.000000   9.000000  2011.000000
Adir Levy                      4.800000   8170.000000  13.000000  2019.000000
Admiral William H. McRaven     4.700000  10199.000000  11.000000  2017.000000
...                                 ...           ...        ...          ...
Walter Isaacson                4.566667   6222.666667  20.333333  2013.333333
William Davis                  4.400000   7497.000000   6.000000  2012.500000
William P. Young               4.600000  19720.000000   8.000000  2013.000000
Wizards RPG Team               4.800000  16990.000000  27.000000  2018.000000
Zhi Gang Sha                   4.600000    128.500000  11.500000  2011.000000

[248 rows x 4 columns]

In [11]:
df.groupby('Author').count()

                            Name  User Rating  Reviews  Price  Year  Genre
Author
Abraham Verghese               2            2        2      2     2      2
Adam Gasiewski                 1            1        1      1     1      1
Adam Mansbach                  1            1        1      1     1      1
Adir Levy                      1            1        1      1     1      1
Admiral William H. McRaven     1            1        1      1     1      1
...                          ...          ...      ...    ...   ...    ...
Walter Isaacson                3            3        3      3     3      3
William Davis                  2            2        2      2     2      2
William P. Young               2            2        2      2     2      2
Wizards RPG Team               3            3        3      3     3      3
Zhi Gang Sha                   2            2        2      2     2      2

[248 rows x 6 columns]

In [14]:
df.groupby('Author').sum()
# Autor en este momento no es una columna sino que es el indice de mi dataframa por lo que podría filtralo por label con loc

                            User Rating  Reviews  Price  Year
Author
Abraham Verghese                    9.2     9732     22  4021
Adam Gasiewski                      4.4     3113      6  2017
Adam Mansbach                       4.8     9568      9  2011
Adir Levy                           4.8     8170     13  2019
Admiral William H. McRaven          4.7    10199     11  2017
...                                 ...      ...    ...   ...
Walter Isaacson                    13.7    18668     61  6040
William Davis                       8.8    14994     12  4025
William P. Young                    9.2    39440     16  4026
Wizards RPG Team                   14.4    50970     81  6054
Zhi Gang Sha                        9.2      257     23  4022

[248 rows x 4 columns]

In [15]:
df.groupby('Author').sum().loc['William Davis']

User Rating        8.8
Reviews        14994.0
Price             12.0
Year            4025.0
Name: William Davis, dtype: float64

In [16]:
# Si no quiero que los autores sean el indice y quiero usar un indice numerico debo resetear el indice en mi group by
df.groupby('Author').sum().reset_index()

                         Author  User Rating  Reviews  Price  Year
0              Abraham Verghese          9.2     9732     22  4021
1                Adam Gasiewski          4.4     3113      6  2017
2                 Adam Mansbach          4.8     9568      9  2011
3                     Adir Levy          4.8     8170     13  2019
4    Admiral William H. McRaven          4.7    10199     11  2017
..                          ...          ...      ...    ...   ...
243             Walter Isaacson         13.7    18668     61  6040
244               William Davis          8.8    14994     12  4025
245            William P. Young          9.2    39440     16  4026
246            Wizards RPG Team         14.4    50970     81  6054
247                Zhi Gang Sha          9.2      257     23  4022

[248 rows x 5 columns]

In [18]:
# Puedo pedirle mas de una función de agregación para un mismo group by con la función .agg
df.groupby('Author').agg(['min','max'])

                                                                         Name  \
                                                                          min
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                             Leonardo da Vinci
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...

                                                                               \
                                                                          max
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                                    Steve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Soul Healing Miracles: Ancient and New Sacred ...

                           User Rating      Reviews        Price      Year  \
                                   min  max     min    max   min max   min
Author
Abraham Verghese                   4.6  4.6    4866   4866    11  11  2010
Adam Gasiewski                     4.4  4.4    3113   3113     6   6  2017
Adam Mansbach                      4.8  4.8    9568   9568     9   9  2011
Adir Levy                          4.8  4.8    8170   8170    13  13  2019
Admiral William H. McRaven         4.7  4.7   10199  10199    11  11  2017
...                                ...  ...     ...    ...   ...  ..   ...
Walter Isaacson                    4.5  4.6    3014   7827    20  21  2011
William Davis                      4.4  4.4    7497   7497     6   6  2012
William P. Young                   4.6  4.6   19720  19720     8   8  2009
Wizards RPG Team                   4.8  4.8   16990  16990    27  27  2017
Zhi Gang Sha                       4.6  4.6      37    220     6  17  2009

                                        Genre
                             max          min          max
Author
Abraham Verghese            2011      Fiction      Fiction
Adam Gasiewski              2017  Non Fiction  Non Fiction
Adam Mansbach               2011      Fiction      Fiction
Adir Levy                   2019      Fiction      Fiction
Admiral William H. McRaven  2017  Non Fiction  Non Fiction
...                          ...          ...          ...
Walter Isaacson             2017  Non Fiction  Non Fiction
William Davis               2013  Non Fiction  Non Fiction
William P. Young            2017      Fiction      Fiction
Wizards RPG Team            2019      Fiction      Fiction
Zhi Gang Sha                2013  Non Fiction  Non Fiction

[248 rows x 12 columns]

In [25]:
# Con UN diccionarios tmb puedo pedirle distintas medidas de agregación para distintas columnas
df.groupby('Author').agg({'Reviews':['min','max'] , 'Price' : 'sum'})

                           Reviews        Price
                               min    max   sum
Author
Abraham Verghese              4866   4866    22
Adam Gasiewski                3113   3113     6
Adam Mansbach                 9568   9568     9
Adir Levy                     8170   8170    13
Admiral William H. McRaven   10199  10199    11
...                            ...    ...   ...
Walter Isaacson               3014   7827    61
William Davis                 7497   7497    12
William P. Young             19720  19720    16
Wizards RPG Team             16990  16990    81
Zhi Gang Sha                    37    220    23

[248 rows x 3 columns]

In [28]:
# tmb puedo agrupar o agregar por mas de una variable
df.groupby(['Author','Year']).count()

               Author  Year  Name  User Rating  Reviews  Price  Genre
0    Abraham Verghese  2010     1            1        1      1      1
1    Abraham Verghese  2011     1            1        1      1      1
2      Adam Gasiewski  2017     1            1        1      1      1
3       Adam Mansbach  2011     1            1        1      1      1
4           Adir Levy  2019     1            1        1      1      1
..                ...   ...   ...          ...      ...    ...    ...
488  Wizards RPG Team  2017     1            1        1      1      1
489  Wizards RPG Team  2018     1            1        1      1      1
490  Wizards RPG Team  2019     1            1        1      1      1
491      Zhi Gang Sha  2009     1            1        1      1      1
492      Zhi Gang Sha  2013     1            1        1      1      1

[493 rows x 7 columns]

In [29]:
df.groupby(['Author','Year']).count().reset_index()

               Author  Year  Name  User Rating  Reviews  Price  Genre
0    Abraham Verghese  2010     1            1        1      1      1
1    Abraham Verghese  2011     1            1        1      1      1
2      Adam Gasiewski  2017     1            1        1      1      1
3       Adam Mansbach  2011     1            1        1      1      1
4           Adir Levy  2019     1            1        1      1      1
..                ...   ...   ...          ...      ...    ...    ...
488  Wizards RPG Team  2017     1            1        1      1      1
489  Wizards RPG Team  2018     1            1        1      1      1
490  Wizards RPG Team  2019     1            1        1      1      1
491      Zhi Gang Sha  2009     1            1        1      1      1
492      Zhi Gang Sha  2013     1            1        1      1      1

[493 rows x 7 columns]